#map {
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.mapwrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


.leaflet-top.leaflet-right {
  top: 4vh;
}


.leaflet-control-layers {
  font-family: 'Ubuntu', sans-serif;
  background-color: rgba(20, 45, 76, 0.95);
  color: #fff;
}

.legend {
  width: 150px;
  background: white;
  padding: 4px 10px;
  font-size: 12px;
  line-height: 1.4;
  border-radius: 4px;
  border: 2px groove #4b6380;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  text-align: center;
}

.legend-item {
  display: flex;
  align-items: center;
  padding: 1px;
}

.legend-color {
  width: 14px;
  height: 14px;
  margin-right: 6px;
  border: 1px solid #555;
  padding: 3px;
}